snippet ansible "Ansible Instructions"
Install the dependencies:

\`\`\`sh
ansible-galaxy install -r requirements.yml
\`\`\`

Check access to all hosts listed in the inventory:

\`\`\`sh
ansible -m ping all
\`\`\`
endsnippet

snippet python "Python Instructions"
Create a virtual environment:

\`\`\`sh
python -m venv .venv
\`\`\`

Activate the virtual environment:

\`\`\`sh
source .venv/bin/activate
\`\`\`

Install the dependencies:

\`\`\`sh
pip install -r requirements.txt
\`\`\`
endsnippet
