snippet python "Python Instructions"
Create a virtual environment:

\`\`\`sh
python -m venv .venv
\`\`\`

Activate the virtual environment:

\`\`\`sh
source .venv/bin/activate
\`\`\`

Install the dependencies:

\`\`\`sh
pip install -r requirements.txt
\`\`\`
endsnippet
