snippet shell
let
  sources = import ./nix/sources.nix {};
  pkgs = import sources.nixpkgs {};
in pkgs.mkShell {
  name = "$0";
  buildInputs = [
  ];
  shellHook = ''
    export NIX_PATH="nixpkgs={sources.nixpkgs}"
  '';
}
endsnippet
